/* @theme tanu */
@charset "UTF-8";
@import "gaia";

/* =============================================
ルート変数
============================================= */
:root {
  /* 基準となる値を定義 */
  --base-font-size: 1em;
  --base-spacing: 0.25em;
  /* slateのカラーパレット */
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --slate-950: #020617;
  /* grayのカラーパレット */
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;
  /* zincのカラーパレット */
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;
  /* neutralのカラーパレット */
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --neutral-950: #0a0a0a;
  /* stoneのカラーパレット */
  --stone-50: #fafaf9;
  --stone-100: #f5f5f4;
  --stone-200: #e7e5e4;
  --stone-300: #d6d3d1;
  --stone-400: #a8a29e;
  --stone-500: #78716c;
  --stone-600: #57534e;
  --stone-700: #44403c;
  --stone-800: #292524;
  --stone-900: #1c1917;
  --stone-950: #0c0a09;
  /* redのカラーパレット */
  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-950: #450a0a;
  /* orangeのカラーパレット */
  --orange-50: #fff7ed;
  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --orange-700: #c2410c;
  --orange-800: #9a3412;
  --orange-900: #7c2d12;
  --orange-950: #431407;
  /* amberのカラーパレット */
  --amber-50: #fffbeb;
  --amber-100: #fef3c7;
  --amber-200: #fde68a;
  --amber-300: #fcd34d;
  --amber-400: #fbbf24;
  --amber-500: #f59e0b;
  --amber-600: #d97706;
  --amber-700: #b45309;
  --amber-800: #92400e;
  --amber-900: #78350f;
  --amber-950: #451a03;
  /* yellowのカラーパレット */
  --yellow-50: #fefce8;
  --yellow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;
  --yellow-800: #854d0e;
  --yellow-900: #713f12;
  --yellow-950: #422006;
  /* limeのカラーパレット */
  --lime-50: #f7fee7;
  --lime-100: #ecfccb;
  --lime-200: #d9f99d;
  --lime-300: #bef264;
  --lime-400: #a3e635;
  --lime-500: #84cc16;
  --lime-600: #65a30d;
  --lime-700: #4d7c0f;
  --lime-800: #3f6212;
  --lime-900: #365314;
  --lime-950: #1a2e05;
  /* greenのカラーパレット */
  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;
  --green-950: #052e16;
  /* emeraldのカラーパレット */
  --emerald-50: #ecfdf5;
  --emerald-100: #d1fae5;
  --emerald-200: #a7f3d0;
  --emerald-300: #6ee7b7;
  --emerald-400: #34d399;
  --emerald-500: #10b981;
  --emerald-600: #059669;
  --emerald-700: #047857;
  --emerald-800: #065f46;
  --emerald-900: #064e3b;
  --emerald-950: #022c22;
  /* tealのカラーパレット */
  --teal-50: #f0fdfa;
  --teal-100: #ccfbf1;
  --teal-200: #99f6e4;
  --teal-300: #5eead4;
  --teal-400: #2dd4bf;
  --teal-500: #14b8a6;
  --teal-600: #0d9488;
  --teal-700: #0f766e;
  --teal-800: #115e59;
  --teal-900: #134e4a;
  --teal-950: #042f2e;
  /* cyanのカラーパレット */
  --cyan-50: #ecfeff;
  --cyan-100: #cffafe;
  --cyan-200: #a5f3fc;
  --cyan-300: #67e8f9;
  --cyan-400: #22d3ee;
  --cyan-500: #06b6d4;
  --cyan-600: #0891b2;
  --cyan-700: #0e7490;
  --cyan-800: #155e75;
  --cyan-900: #164e63;
  --cyan-950: #083344;
  /* skyのカラーパレット */
  --sky-50: #f0f9ff;
  --sky-100: #e0f2fe;
  --sky-200: #bae6fd;
  --sky-300: #7dd3fc;
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
  --sky-700: #0369a1;
  --sky-800: #075985;
  --sky-900: #0c4a6e;
  --sky-950: #082f49;
  /* blueのカラーパレット */
  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --blue-950: #172554;
  /* indigoのカラーパレット */
  --indigo-50: #eef2ff;
  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;
  --indigo-950: #1e1b4b;
  /* violetのカラーパレット */
  --violet-50: #f5f3ff;
  --violet-100: #ede9fe;
  --violet-200: #ddd6fe;
  --violet-300: #c4b5fd;
  --violet-400: #a78bfa;
  --violet-500: #8b5cf6;
  --violet-600: #7c3aed;
  --violet-700: #6d28d9;
  --violet-800: #5b21b6;
  --violet-900: #4c1d95;
  --violet-950: #2e1065;
  /* purpleのカラーパレット */
  --purple-50: #faf5ff;
  --purple-100: #f3e8ff;
  --purple-200: #e9d5ff;
  --purple-300: #d8b4fe;
  --purple-400: #c084fc;
  --purple-500: #a855f7;
  --purple-600: #9333ea;
  --purple-700: #7e22ce;
  --purple-800: #6b21a8;
  --purple-900: #581c87;
  --purple-950: #3b0764;
  /* fuchsiaのカラーパレット */
  --fuchsia-50: #fdf4ff;
  --fuchsia-100: #fae8ff;
  --fuchsia-200: #f5d0fe;
  --fuchsia-300: #f0abfc;
  --fuchsia-400: #e879f9;
  --fuchsia-500: #d946ef;
  --fuchsia-600: #c026d3;
  --fuchsia-700: #a21caf;
  --fuchsia-800: #86198f;
  --fuchsia-900: #701a75;
  --fuchsia-950: #4a044e;
  /* pinkのカラーパレット */
  --pink-50: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-200: #fbcfe8;
  --pink-300: #f9a8d4;
  --pink-400: #f472b6;
  --pink-500: #ec4899;
  --pink-600: #db2777;
  --pink-700: #be185d;
  --pink-800: #9d174d;
  --pink-900: #831843;
  --pink-950: #500724;
  /* roseのカラーパレット */
  --rose-50: #fff1f2;
  --rose-100: #ffe4e6;
  --rose-200: #fecdd3;
  --rose-300: #fda4af;
  --rose-400: #fb7185;
  --rose-500: #f43f5e;
  --rose-600: #e11d48;
  --rose-700: #be123c;
  --rose-800: #9f1239;
  --rose-900: #881337;
  --rose-950: #4c0519;
}

/* =============================================
基本的なHTML要素のスタイル
============================================= */
section {
  color: var(--slate-800);
  background-color: var(--gray-200);
}

ul {
  margin-top: 0.25em;
}

li {
  font-size: calc(var(--base-font-size) * 0.875);
}

h1 {
  color: var(--violet-600);
}

p {
  font-size: calc(var(--base-font-size) * 0.875);
}
p code {
  color: var(--violet-600);
  background-color: var(--violet-100);
  border: 1px solid var(--violet-500);
  border-radius: 0.3em;
}

/* =============================================
ユーティリティクラス
============================================= */
.text-3xs {
  font-size: calc(var(--base-font-size) * 0.551);
}

.text-2xs {
  font-size: calc(var(--base-font-size) * 0.643);
}

.text-xs {
  font-size: calc(var(--base-font-size) * 0.75);
}

.text-sm {
  font-size: calc(var(--base-font-size) * 0.875);
}

.text-lg {
  font-size: calc(var(--base-font-size) * 1.125);
}

.text-xl {
  font-size: calc(var(--base-font-size) * 1.25);
}

.text-2xl {
  font-size: calc(var(--base-font-size) * 1.5);
}

.text-3xl {
  font-size: calc(var(--base-font-size) * 1.875);
}

.leading-none {
  line-height: 1;
}

.leading-tight {
  line-height: 1.25;
}

.leading-snug {
  line-height: 1.375;
}

.leading-normal {
  line-height: 1.5;
}

.leading-relaxed {
  line-height: 1.625;
}

.leading-loose {
  line-height: 2;
}

.text-slate-50 {
  color: var(--slate-50);
}

.text-slate-100 {
  color: var(--slate-100);
}

.text-slate-200 {
  color: var(--slate-200);
}

.text-slate-300 {
  color: var(--slate-300);
}

.text-slate-400 {
  color: var(--slate-400);
}

.text-slate-500 {
  color: var(--slate-500);
}

.text-slate-600 {
  color: var(--slate-600);
}

.text-slate-700 {
  color: var(--slate-700);
}

.text-slate-800 {
  color: var(--slate-800);
}

.text-slate-900 {
  color: var(--slate-900);
}

.text-slate-950 {
  color: var(--slate-950);
}

.text-gray-50 {
  color: var(--gray-50);
}

.text-gray-100 {
  color: var(--gray-100);
}

.text-gray-200 {
  color: var(--gray-200);
}

.text-gray-300 {
  color: var(--gray-300);
}

.text-gray-400 {
  color: var(--gray-400);
}

.text-gray-500 {
  color: var(--gray-500);
}

.text-gray-600 {
  color: var(--gray-600);
}

.text-gray-700 {
  color: var(--gray-700);
}

.text-gray-800 {
  color: var(--gray-800);
}

.text-gray-900 {
  color: var(--gray-900);
}

.text-gray-950 {
  color: var(--gray-950);
}

.text-zinc-50 {
  color: var(--zinc-50);
}

.text-zinc-100 {
  color: var(--zinc-100);
}

.text-zinc-200 {
  color: var(--zinc-200);
}

.text-zinc-300 {
  color: var(--zinc-300);
}

.text-zinc-400 {
  color: var(--zinc-400);
}

.text-zinc-500 {
  color: var(--zinc-500);
}

.text-zinc-600 {
  color: var(--zinc-600);
}

.text-zinc-700 {
  color: var(--zinc-700);
}

.text-zinc-800 {
  color: var(--zinc-800);
}

.text-zinc-900 {
  color: var(--zinc-900);
}

.text-zinc-950 {
  color: var(--zinc-950);
}

.text-neutral-50 {
  color: var(--neutral-50);
}

.text-neutral-100 {
  color: var(--neutral-100);
}

.text-neutral-200 {
  color: var(--neutral-200);
}

.text-neutral-300 {
  color: var(--neutral-300);
}

.text-neutral-400 {
  color: var(--neutral-400);
}

.text-neutral-500 {
  color: var(--neutral-500);
}

.text-neutral-600 {
  color: var(--neutral-600);
}

.text-neutral-700 {
  color: var(--neutral-700);
}

.text-neutral-800 {
  color: var(--neutral-800);
}

.text-neutral-900 {
  color: var(--neutral-900);
}

.text-neutral-950 {
  color: var(--neutral-950);
}

.text-stone-50 {
  color: var(--stone-50);
}

.text-stone-100 {
  color: var(--stone-100);
}

.text-stone-200 {
  color: var(--stone-200);
}

.text-stone-300 {
  color: var(--stone-300);
}

.text-stone-400 {
  color: var(--stone-400);
}

.text-stone-500 {
  color: var(--stone-500);
}

.text-stone-600 {
  color: var(--stone-600);
}

.text-stone-700 {
  color: var(--stone-700);
}

.text-stone-800 {
  color: var(--stone-800);
}

.text-stone-900 {
  color: var(--stone-900);
}

.text-stone-950 {
  color: var(--stone-950);
}

.text-red-50 {
  color: var(--red-50);
}

.text-red-100 {
  color: var(--red-100);
}

.text-red-200 {
  color: var(--red-200);
}

.text-red-300 {
  color: var(--red-300);
}

.text-red-400 {
  color: var(--red-400);
}

.text-red-500 {
  color: var(--red-500);
}

.text-red-600 {
  color: var(--red-600);
}

.text-red-700 {
  color: var(--red-700);
}

.text-red-800 {
  color: var(--red-800);
}

.text-red-900 {
  color: var(--red-900);
}

.text-red-950 {
  color: var(--red-950);
}

.text-orange-50 {
  color: var(--orange-50);
}

.text-orange-100 {
  color: var(--orange-100);
}

.text-orange-200 {
  color: var(--orange-200);
}

.text-orange-300 {
  color: var(--orange-300);
}

.text-orange-400 {
  color: var(--orange-400);
}

.text-orange-500 {
  color: var(--orange-500);
}

.text-orange-600 {
  color: var(--orange-600);
}

.text-orange-700 {
  color: var(--orange-700);
}

.text-orange-800 {
  color: var(--orange-800);
}

.text-orange-900 {
  color: var(--orange-900);
}

.text-orange-950 {
  color: var(--orange-950);
}

.text-amber-50 {
  color: var(--amber-50);
}

.text-amber-100 {
  color: var(--amber-100);
}

.text-amber-200 {
  color: var(--amber-200);
}

.text-amber-300 {
  color: var(--amber-300);
}

.text-amber-400 {
  color: var(--amber-400);
}

.text-amber-500 {
  color: var(--amber-500);
}

.text-amber-600 {
  color: var(--amber-600);
}

.text-amber-700 {
  color: var(--amber-700);
}

.text-amber-800 {
  color: var(--amber-800);
}

.text-amber-900 {
  color: var(--amber-900);
}

.text-amber-950 {
  color: var(--amber-950);
}

.text-yellow-50 {
  color: var(--yellow-50);
}

.text-yellow-100 {
  color: var(--yellow-100);
}

.text-yellow-200 {
  color: var(--yellow-200);
}

.text-yellow-300 {
  color: var(--yellow-300);
}

.text-yellow-400 {
  color: var(--yellow-400);
}

.text-yellow-500 {
  color: var(--yellow-500);
}

.text-yellow-600 {
  color: var(--yellow-600);
}

.text-yellow-700 {
  color: var(--yellow-700);
}

.text-yellow-800 {
  color: var(--yellow-800);
}

.text-yellow-900 {
  color: var(--yellow-900);
}

.text-yellow-950 {
  color: var(--yellow-950);
}

.text-lime-50 {
  color: var(--lime-50);
}

.text-lime-100 {
  color: var(--lime-100);
}

.text-lime-200 {
  color: var(--lime-200);
}

.text-lime-300 {
  color: var(--lime-300);
}

.text-lime-400 {
  color: var(--lime-400);
}

.text-lime-500 {
  color: var(--lime-500);
}

.text-lime-600 {
  color: var(--lime-600);
}

.text-lime-700 {
  color: var(--lime-700);
}

.text-lime-800 {
  color: var(--lime-800);
}

.text-lime-900 {
  color: var(--lime-900);
}

.text-lime-950 {
  color: var(--lime-950);
}

.text-green-50 {
  color: var(--green-50);
}

.text-green-100 {
  color: var(--green-100);
}

.text-green-200 {
  color: var(--green-200);
}

.text-green-300 {
  color: var(--green-300);
}

.text-green-400 {
  color: var(--green-400);
}

.text-green-500 {
  color: var(--green-500);
}

.text-green-600 {
  color: var(--green-600);
}

.text-green-700 {
  color: var(--green-700);
}

.text-green-800 {
  color: var(--green-800);
}

.text-green-900 {
  color: var(--green-900);
}

.text-green-950 {
  color: var(--green-950);
}

.text-emerald-50 {
  color: var(--emerald-50);
}

.text-emerald-100 {
  color: var(--emerald-100);
}

.text-emerald-200 {
  color: var(--emerald-200);
}

.text-emerald-300 {
  color: var(--emerald-300);
}

.text-emerald-400 {
  color: var(--emerald-400);
}

.text-emerald-500 {
  color: var(--emerald-500);
}

.text-emerald-600 {
  color: var(--emerald-600);
}

.text-emerald-700 {
  color: var(--emerald-700);
}

.text-emerald-800 {
  color: var(--emerald-800);
}

.text-emerald-900 {
  color: var(--emerald-900);
}

.text-emerald-950 {
  color: var(--emerald-950);
}

.text-teal-50 {
  color: var(--teal-50);
}

.text-teal-100 {
  color: var(--teal-100);
}

.text-teal-200 {
  color: var(--teal-200);
}

.text-teal-300 {
  color: var(--teal-300);
}

.text-teal-400 {
  color: var(--teal-400);
}

.text-teal-500 {
  color: var(--teal-500);
}

.text-teal-600 {
  color: var(--teal-600);
}

.text-teal-700 {
  color: var(--teal-700);
}

.text-teal-800 {
  color: var(--teal-800);
}

.text-teal-900 {
  color: var(--teal-900);
}

.text-teal-950 {
  color: var(--teal-950);
}

.text-cyan-50 {
  color: var(--cyan-50);
}

.text-cyan-100 {
  color: var(--cyan-100);
}

.text-cyan-200 {
  color: var(--cyan-200);
}

.text-cyan-300 {
  color: var(--cyan-300);
}

.text-cyan-400 {
  color: var(--cyan-400);
}

.text-cyan-500 {
  color: var(--cyan-500);
}

.text-cyan-600 {
  color: var(--cyan-600);
}

.text-cyan-700 {
  color: var(--cyan-700);
}

.text-cyan-800 {
  color: var(--cyan-800);
}

.text-cyan-900 {
  color: var(--cyan-900);
}

.text-cyan-950 {
  color: var(--cyan-950);
}

.text-sky-50 {
  color: var(--sky-50);
}

.text-sky-100 {
  color: var(--sky-100);
}

.text-sky-200 {
  color: var(--sky-200);
}

.text-sky-300 {
  color: var(--sky-300);
}

.text-sky-400 {
  color: var(--sky-400);
}

.text-sky-500 {
  color: var(--sky-500);
}

.text-sky-600 {
  color: var(--sky-600);
}

.text-sky-700 {
  color: var(--sky-700);
}

.text-sky-800 {
  color: var(--sky-800);
}

.text-sky-900 {
  color: var(--sky-900);
}

.text-sky-950 {
  color: var(--sky-950);
}

.text-blue-50 {
  color: var(--blue-50);
}

.text-blue-100 {
  color: var(--blue-100);
}

.text-blue-200 {
  color: var(--blue-200);
}

.text-blue-300 {
  color: var(--blue-300);
}

.text-blue-400 {
  color: var(--blue-400);
}

.text-blue-500 {
  color: var(--blue-500);
}

.text-blue-600 {
  color: var(--blue-600);
}

.text-blue-700 {
  color: var(--blue-700);
}

.text-blue-800 {
  color: var(--blue-800);
}

.text-blue-900 {
  color: var(--blue-900);
}

.text-blue-950 {
  color: var(--blue-950);
}

.text-indigo-50 {
  color: var(--indigo-50);
}

.text-indigo-100 {
  color: var(--indigo-100);
}

.text-indigo-200 {
  color: var(--indigo-200);
}

.text-indigo-300 {
  color: var(--indigo-300);
}

.text-indigo-400 {
  color: var(--indigo-400);
}

.text-indigo-500 {
  color: var(--indigo-500);
}

.text-indigo-600 {
  color: var(--indigo-600);
}

.text-indigo-700 {
  color: var(--indigo-700);
}

.text-indigo-800 {
  color: var(--indigo-800);
}

.text-indigo-900 {
  color: var(--indigo-900);
}

.text-indigo-950 {
  color: var(--indigo-950);
}

.text-violet-50 {
  color: var(--violet-50);
}

.text-violet-100 {
  color: var(--violet-100);
}

.text-violet-200 {
  color: var(--violet-200);
}

.text-violet-300 {
  color: var(--violet-300);
}

.text-violet-400 {
  color: var(--violet-400);
}

.text-violet-500 {
  color: var(--violet-500);
}

.text-violet-600 {
  color: var(--violet-600);
}

.text-violet-700 {
  color: var(--violet-700);
}

.text-violet-800 {
  color: var(--violet-800);
}

.text-violet-900 {
  color: var(--violet-900);
}

.text-violet-950 {
  color: var(--violet-950);
}

.text-purple-50 {
  color: var(--purple-50);
}

.text-purple-100 {
  color: var(--purple-100);
}

.text-purple-200 {
  color: var(--purple-200);
}

.text-purple-300 {
  color: var(--purple-300);
}

.text-purple-400 {
  color: var(--purple-400);
}

.text-purple-500 {
  color: var(--purple-500);
}

.text-purple-600 {
  color: var(--purple-600);
}

.text-purple-700 {
  color: var(--purple-700);
}

.text-purple-800 {
  color: var(--purple-800);
}

.text-purple-900 {
  color: var(--purple-900);
}

.text-purple-950 {
  color: var(--purple-950);
}

.text-fuchsia-50 {
  color: var(--fuchsia-50);
}

.text-fuchsia-100 {
  color: var(--fuchsia-100);
}

.text-fuchsia-200 {
  color: var(--fuchsia-200);
}

.text-fuchsia-300 {
  color: var(--fuchsia-300);
}

.text-fuchsia-400 {
  color: var(--fuchsia-400);
}

.text-fuchsia-500 {
  color: var(--fuchsia-500);
}

.text-fuchsia-600 {
  color: var(--fuchsia-600);
}

.text-fuchsia-700 {
  color: var(--fuchsia-700);
}

.text-fuchsia-800 {
  color: var(--fuchsia-800);
}

.text-fuchsia-900 {
  color: var(--fuchsia-900);
}

.text-fuchsia-950 {
  color: var(--fuchsia-950);
}

.text-pink-50 {
  color: var(--pink-50);
}

.text-pink-100 {
  color: var(--pink-100);
}

.text-pink-200 {
  color: var(--pink-200);
}

.text-pink-300 {
  color: var(--pink-300);
}

.text-pink-400 {
  color: var(--pink-400);
}

.text-pink-500 {
  color: var(--pink-500);
}

.text-pink-600 {
  color: var(--pink-600);
}

.text-pink-700 {
  color: var(--pink-700);
}

.text-pink-800 {
  color: var(--pink-800);
}

.text-pink-900 {
  color: var(--pink-900);
}

.text-pink-950 {
  color: var(--pink-950);
}

.text-rose-50 {
  color: var(--rose-50);
}

.text-rose-100 {
  color: var(--rose-100);
}

.text-rose-200 {
  color: var(--rose-200);
}

.text-rose-300 {
  color: var(--rose-300);
}

.text-rose-400 {
  color: var(--rose-400);
}

.text-rose-500 {
  color: var(--rose-500);
}

.text-rose-600 {
  color: var(--rose-600);
}

.text-rose-700 {
  color: var(--rose-700);
}

.text-rose-800 {
  color: var(--rose-800);
}

.text-rose-900 {
  color: var(--rose-900);
}

.text-rose-950 {
  color: var(--rose-950);
}

.mt-1 {
  margin-top: calc(var(--base-spacing) * 1);
}

.mr-1 {
  margin-right: calc(var(--base-spacing) * 1);
}

.mb-1 {
  margin-bottom: calc(var(--base-spacing) * 1);
}

.ml-1 {
  margin-left: calc(var(--base-spacing) * 1);
}

.mx-1 {
  margin-left: calc(var(--base-spacing) * 1);
  margin-right: calc(var(--base-spacing) * 1);
}

.my-1 {
  margin-top: calc(var(--base-spacing) * 1);
  margin-bottom: calc(var(--base-spacing) * 1);
}

.m-1 {
  margin: calc(var(--base-spacing) * 1);
}

.mt-2 {
  margin-top: calc(var(--base-spacing) * 2);
}

.mr-2 {
  margin-right: calc(var(--base-spacing) * 2);
}

.mb-2 {
  margin-bottom: calc(var(--base-spacing) * 2);
}

.ml-2 {
  margin-left: calc(var(--base-spacing) * 2);
}

.mx-2 {
  margin-left: calc(var(--base-spacing) * 2);
  margin-right: calc(var(--base-spacing) * 2);
}

.my-2 {
  margin-top: calc(var(--base-spacing) * 2);
  margin-bottom: calc(var(--base-spacing) * 2);
}

.m-2 {
  margin: calc(var(--base-spacing) * 2);
}

.mt-3 {
  margin-top: calc(var(--base-spacing) * 3);
}

.mr-3 {
  margin-right: calc(var(--base-spacing) * 3);
}

.mb-3 {
  margin-bottom: calc(var(--base-spacing) * 3);
}

.ml-3 {
  margin-left: calc(var(--base-spacing) * 3);
}

.mx-3 {
  margin-left: calc(var(--base-spacing) * 3);
  margin-right: calc(var(--base-spacing) * 3);
}

.my-3 {
  margin-top: calc(var(--base-spacing) * 3);
  margin-bottom: calc(var(--base-spacing) * 3);
}

.m-3 {
  margin: calc(var(--base-spacing) * 3);
}

.mt-4 {
  margin-top: calc(var(--base-spacing) * 4);
}

.mr-4 {
  margin-right: calc(var(--base-spacing) * 4);
}

.mb-4 {
  margin-bottom: calc(var(--base-spacing) * 4);
}

.ml-4 {
  margin-left: calc(var(--base-spacing) * 4);
}

.mx-4 {
  margin-left: calc(var(--base-spacing) * 4);
  margin-right: calc(var(--base-spacing) * 4);
}

.my-4 {
  margin-top: calc(var(--base-spacing) * 4);
  margin-bottom: calc(var(--base-spacing) * 4);
}

.m-4 {
  margin: calc(var(--base-spacing) * 4);
}

.mt-5 {
  margin-top: calc(var(--base-spacing) * 5);
}

.mr-5 {
  margin-right: calc(var(--base-spacing) * 5);
}

.mb-5 {
  margin-bottom: calc(var(--base-spacing) * 5);
}

.ml-5 {
  margin-left: calc(var(--base-spacing) * 5);
}

.mx-5 {
  margin-left: calc(var(--base-spacing) * 5);
  margin-right: calc(var(--base-spacing) * 5);
}

.my-5 {
  margin-top: calc(var(--base-spacing) * 5);
  margin-bottom: calc(var(--base-spacing) * 5);
}

.m-5 {
  margin: calc(var(--base-spacing) * 5);
}

.mt-6 {
  margin-top: calc(var(--base-spacing) * 6);
}

.mr-6 {
  margin-right: calc(var(--base-spacing) * 6);
}

.mb-6 {
  margin-bottom: calc(var(--base-spacing) * 6);
}

.ml-6 {
  margin-left: calc(var(--base-spacing) * 6);
}

.mx-6 {
  margin-left: calc(var(--base-spacing) * 6);
  margin-right: calc(var(--base-spacing) * 6);
}

.my-6 {
  margin-top: calc(var(--base-spacing) * 6);
  margin-bottom: calc(var(--base-spacing) * 6);
}

.m-6 {
  margin: calc(var(--base-spacing) * 6);
}

.mt-7 {
  margin-top: calc(var(--base-spacing) * 7);
}

.mr-7 {
  margin-right: calc(var(--base-spacing) * 7);
}

.mb-7 {
  margin-bottom: calc(var(--base-spacing) * 7);
}

.ml-7 {
  margin-left: calc(var(--base-spacing) * 7);
}

.mx-7 {
  margin-left: calc(var(--base-spacing) * 7);
  margin-right: calc(var(--base-spacing) * 7);
}

.my-7 {
  margin-top: calc(var(--base-spacing) * 7);
  margin-bottom: calc(var(--base-spacing) * 7);
}

.m-7 {
  margin: calc(var(--base-spacing) * 7);
}

.mt-8 {
  margin-top: calc(var(--base-spacing) * 8);
}

.mr-8 {
  margin-right: calc(var(--base-spacing) * 8);
}

.mb-8 {
  margin-bottom: calc(var(--base-spacing) * 8);
}

.ml-8 {
  margin-left: calc(var(--base-spacing) * 8);
}

.mx-8 {
  margin-left: calc(var(--base-spacing) * 8);
  margin-right: calc(var(--base-spacing) * 8);
}

.my-8 {
  margin-top: calc(var(--base-spacing) * 8);
  margin-bottom: calc(var(--base-spacing) * 8);
}

.m-8 {
  margin: calc(var(--base-spacing) * 8);
}

.mt-9 {
  margin-top: calc(var(--base-spacing) * 9);
}

.mr-9 {
  margin-right: calc(var(--base-spacing) * 9);
}

.mb-9 {
  margin-bottom: calc(var(--base-spacing) * 9);
}

.ml-9 {
  margin-left: calc(var(--base-spacing) * 9);
}

.mx-9 {
  margin-left: calc(var(--base-spacing) * 9);
  margin-right: calc(var(--base-spacing) * 9);
}

.my-9 {
  margin-top: calc(var(--base-spacing) * 9);
  margin-bottom: calc(var(--base-spacing) * 9);
}

.m-9 {
  margin: calc(var(--base-spacing) * 9);
}

.mt-10 {
  margin-top: calc(var(--base-spacing) * 10);
}

.mr-10 {
  margin-right: calc(var(--base-spacing) * 10);
}

.mb-10 {
  margin-bottom: calc(var(--base-spacing) * 10);
}

.ml-10 {
  margin-left: calc(var(--base-spacing) * 10);
}

.mx-10 {
  margin-left: calc(var(--base-spacing) * 10);
  margin-right: calc(var(--base-spacing) * 10);
}

.my-10 {
  margin-top: calc(var(--base-spacing) * 10);
  margin-bottom: calc(var(--base-spacing) * 10);
}

.m-10 {
  margin: calc(var(--base-spacing) * 10);
}

.mt-11 {
  margin-top: calc(var(--base-spacing) * 11);
}

.mr-11 {
  margin-right: calc(var(--base-spacing) * 11);
}

.mb-11 {
  margin-bottom: calc(var(--base-spacing) * 11);
}

.ml-11 {
  margin-left: calc(var(--base-spacing) * 11);
}

.mx-11 {
  margin-left: calc(var(--base-spacing) * 11);
  margin-right: calc(var(--base-spacing) * 11);
}

.my-11 {
  margin-top: calc(var(--base-spacing) * 11);
  margin-bottom: calc(var(--base-spacing) * 11);
}

.m-11 {
  margin: calc(var(--base-spacing) * 11);
}

.mt-12 {
  margin-top: calc(var(--base-spacing) * 12);
}

.mr-12 {
  margin-right: calc(var(--base-spacing) * 12);
}

.mb-12 {
  margin-bottom: calc(var(--base-spacing) * 12);
}

.ml-12 {
  margin-left: calc(var(--base-spacing) * 12);
}

.mx-12 {
  margin-left: calc(var(--base-spacing) * 12);
  margin-right: calc(var(--base-spacing) * 12);
}

.my-12 {
  margin-top: calc(var(--base-spacing) * 12);
  margin-bottom: calc(var(--base-spacing) * 12);
}

.m-12 {
  margin: calc(var(--base-spacing) * 12);
}

.pt-1 {
  padding-top: calc(var(--base-spacing) * 1);
}

.pr-1 {
  padding-right: calc(var(--base-spacing) * 1);
}

.pb-1 {
  padding-bottom: calc(var(--base-spacing) * 1);
}

.pl-1 {
  padding-left: calc(var(--base-spacing) * 1);
}

.px-1 {
  padding-left: calc(var(--base-spacing) * 1);
  padding-right: calc(var(--base-spacing) * 1);
}

.py-1 {
  padding-top: calc(var(--base-spacing) * 1);
  padding-bottom: calc(var(--base-spacing) * 1);
}

.p-1 {
  padding: calc(var(--base-spacing) * 1);
}

.pt-2 {
  padding-top: calc(var(--base-spacing) * 2);
}

.pr-2 {
  padding-right: calc(var(--base-spacing) * 2);
}

.pb-2 {
  padding-bottom: calc(var(--base-spacing) * 2);
}

.pl-2 {
  padding-left: calc(var(--base-spacing) * 2);
}

.px-2 {
  padding-left: calc(var(--base-spacing) * 2);
  padding-right: calc(var(--base-spacing) * 2);
}

.py-2 {
  padding-top: calc(var(--base-spacing) * 2);
  padding-bottom: calc(var(--base-spacing) * 2);
}

.p-2 {
  padding: calc(var(--base-spacing) * 2);
}

.pt-3 {
  padding-top: calc(var(--base-spacing) * 3);
}

.pr-3 {
  padding-right: calc(var(--base-spacing) * 3);
}

.pb-3 {
  padding-bottom: calc(var(--base-spacing) * 3);
}

.pl-3 {
  padding-left: calc(var(--base-spacing) * 3);
}

.px-3 {
  padding-left: calc(var(--base-spacing) * 3);
  padding-right: calc(var(--base-spacing) * 3);
}

.py-3 {
  padding-top: calc(var(--base-spacing) * 3);
  padding-bottom: calc(var(--base-spacing) * 3);
}

.p-3 {
  padding: calc(var(--base-spacing) * 3);
}

.pt-4 {
  padding-top: calc(var(--base-spacing) * 4);
}

.pr-4 {
  padding-right: calc(var(--base-spacing) * 4);
}

.pb-4 {
  padding-bottom: calc(var(--base-spacing) * 4);
}

.pl-4 {
  padding-left: calc(var(--base-spacing) * 4);
}

.px-4 {
  padding-left: calc(var(--base-spacing) * 4);
  padding-right: calc(var(--base-spacing) * 4);
}

.py-4 {
  padding-top: calc(var(--base-spacing) * 4);
  padding-bottom: calc(var(--base-spacing) * 4);
}

.p-4 {
  padding: calc(var(--base-spacing) * 4);
}

.pt-5 {
  padding-top: calc(var(--base-spacing) * 5);
}

.pr-5 {
  padding-right: calc(var(--base-spacing) * 5);
}

.pb-5 {
  padding-bottom: calc(var(--base-spacing) * 5);
}

.pl-5 {
  padding-left: calc(var(--base-spacing) * 5);
}

.px-5 {
  padding-left: calc(var(--base-spacing) * 5);
  padding-right: calc(var(--base-spacing) * 5);
}

.py-5 {
  padding-top: calc(var(--base-spacing) * 5);
  padding-bottom: calc(var(--base-spacing) * 5);
}

.p-5 {
  padding: calc(var(--base-spacing) * 5);
}

.pt-6 {
  padding-top: calc(var(--base-spacing) * 6);
}

.pr-6 {
  padding-right: calc(var(--base-spacing) * 6);
}

.pb-6 {
  padding-bottom: calc(var(--base-spacing) * 6);
}

.pl-6 {
  padding-left: calc(var(--base-spacing) * 6);
}

.px-6 {
  padding-left: calc(var(--base-spacing) * 6);
  padding-right: calc(var(--base-spacing) * 6);
}

.py-6 {
  padding-top: calc(var(--base-spacing) * 6);
  padding-bottom: calc(var(--base-spacing) * 6);
}

.p-6 {
  padding: calc(var(--base-spacing) * 6);
}

.pt-7 {
  padding-top: calc(var(--base-spacing) * 7);
}

.pr-7 {
  padding-right: calc(var(--base-spacing) * 7);
}

.pb-7 {
  padding-bottom: calc(var(--base-spacing) * 7);
}

.pl-7 {
  padding-left: calc(var(--base-spacing) * 7);
}

.px-7 {
  padding-left: calc(var(--base-spacing) * 7);
  padding-right: calc(var(--base-spacing) * 7);
}

.py-7 {
  padding-top: calc(var(--base-spacing) * 7);
  padding-bottom: calc(var(--base-spacing) * 7);
}

.p-7 {
  padding: calc(var(--base-spacing) * 7);
}

.pt-8 {
  padding-top: calc(var(--base-spacing) * 8);
}

.pr-8 {
  padding-right: calc(var(--base-spacing) * 8);
}

.pb-8 {
  padding-bottom: calc(var(--base-spacing) * 8);
}

.pl-8 {
  padding-left: calc(var(--base-spacing) * 8);
}

.px-8 {
  padding-left: calc(var(--base-spacing) * 8);
  padding-right: calc(var(--base-spacing) * 8);
}

.py-8 {
  padding-top: calc(var(--base-spacing) * 8);
  padding-bottom: calc(var(--base-spacing) * 8);
}

.p-8 {
  padding: calc(var(--base-spacing) * 8);
}

.pt-9 {
  padding-top: calc(var(--base-spacing) * 9);
}

.pr-9 {
  padding-right: calc(var(--base-spacing) * 9);
}

.pb-9 {
  padding-bottom: calc(var(--base-spacing) * 9);
}

.pl-9 {
  padding-left: calc(var(--base-spacing) * 9);
}

.px-9 {
  padding-left: calc(var(--base-spacing) * 9);
  padding-right: calc(var(--base-spacing) * 9);
}

.py-9 {
  padding-top: calc(var(--base-spacing) * 9);
  padding-bottom: calc(var(--base-spacing) * 9);
}

.p-9 {
  padding: calc(var(--base-spacing) * 9);
}

.pt-10 {
  padding-top: calc(var(--base-spacing) * 10);
}

.pr-10 {
  padding-right: calc(var(--base-spacing) * 10);
}

.pb-10 {
  padding-bottom: calc(var(--base-spacing) * 10);
}

.pl-10 {
  padding-left: calc(var(--base-spacing) * 10);
}

.px-10 {
  padding-left: calc(var(--base-spacing) * 10);
  padding-right: calc(var(--base-spacing) * 10);
}

.py-10 {
  padding-top: calc(var(--base-spacing) * 10);
  padding-bottom: calc(var(--base-spacing) * 10);
}

.p-10 {
  padding: calc(var(--base-spacing) * 10);
}

.pt-11 {
  padding-top: calc(var(--base-spacing) * 11);
}

.pr-11 {
  padding-right: calc(var(--base-spacing) * 11);
}

.pb-11 {
  padding-bottom: calc(var(--base-spacing) * 11);
}

.pl-11 {
  padding-left: calc(var(--base-spacing) * 11);
}

.px-11 {
  padding-left: calc(var(--base-spacing) * 11);
  padding-right: calc(var(--base-spacing) * 11);
}

.py-11 {
  padding-top: calc(var(--base-spacing) * 11);
  padding-bottom: calc(var(--base-spacing) * 11);
}

.p-11 {
  padding: calc(var(--base-spacing) * 11);
}

.pt-12 {
  padding-top: calc(var(--base-spacing) * 12);
}

.pr-12 {
  padding-right: calc(var(--base-spacing) * 12);
}

.pb-12 {
  padding-bottom: calc(var(--base-spacing) * 12);
}

.pl-12 {
  padding-left: calc(var(--base-spacing) * 12);
}

.px-12 {
  padding-left: calc(var(--base-spacing) * 12);
  padding-right: calc(var(--base-spacing) * 12);
}

.py-12 {
  padding-top: calc(var(--base-spacing) * 12);
  padding-bottom: calc(var(--base-spacing) * 12);
}

.p-12 {
  padding: calc(var(--base-spacing) * 12);
}